.flex-kotak {
  @include flex-row;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  z-index: 2;
  width: 100%;
  @include md {
    padding: 0 6.666666666666667%;
  }
  @include xl {
    // justify-content: space-between;
  }
  @include xxl {
  }
  .item {
    @include flex-column;
    align-items: center;
    box-sizing: border-box;
    background: white;
    box-shadow: 5px 5px 5px rgba(21, 21, 21, 0.1);
    border-radius: 5px;
    color: color(text-dark);
    height: 38.88888888888889vw;
    justify-content: center;
    margin: 0 0 20px 0;
    padding: 0 4.807692307692308%;
    text-decoration: none;
    transition: $transition;
    width: 42%;
    @include md {
      border-radius: 5px;
      height: 27vw;
      margin: 0 0 2.469135802469136vw 0;
      padding: 0 15px;
      width: 28%;
    }
    @include xl {
      border-radius: 5px;
      height: 20vw;
      margin: 0 0 1.469135802469136vw 0;
      padding: 0 15px;
      width: 21%;
    }
    @include xxl {
      height: 15vw;
      padding: 0 30px;
    }
    &:focus-within,
    &:hover {
      background: color(lima);
      &:nth-child(2n) {
        background: color(empat);
      }
      .icon {
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
      }
      .judul,
      .deskripsi {
        color: color(text-light);
      }
    }

    .icon {
      transition: $transition;
      width: 25%;
    }
    .judul {
      color: color(text-dark);
      font-size: 11px;
      line-height: 1.2em;
      margin: 0.9em 0 0 0;
      transition: $transition;
      text-align: center;
      @include md {
        font-size: 14px;
        // margin: 0.9375em 0 0 0;
      }
      @include xl {
        font-size: 16px;
        // margin: 0 0 15px 0;
      }
      @include xxl {
        font-size: 20px;
        // margin: 0 0 20px 0;
      }
    }
    .deskripsi {
      font-size: 16px;
      margin: 0;
      transition: $transition;
      @include md {
      }
      @include xl {
        font-size: 14px;
      }
      @include xxl {
        font-size: 16px;
      }
    }
  }
}
