.flex-perijinan {
    @include flex-column;
    align-items: center;
    box-sizing: border-box;

    @include md {}

    @include xl {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between
    }

    @include xxl {}

    .item {
        @include flex-column;
        align-items: center;
        background-image: linear-gradient(to right, color(empat-lighter), color(empat-lightest));
        // background-color: color(empat-lightest);
        border-radius: 5px;
        box-sizing: border-box;
        filter: drop-shadow(2px 2px 4px color(white-dark));
        margin: 0 0 10px 0;
        padding: 9px;
        text-decoration: none;
        width: 100%;

        @include md {
            padding: 12px;
        }

        @include xl {
            flex-direction: row;
            padding: 20px;
            width: 49.5%;
        }

        @include xxl {
            padding: 22px;
        }

        button[type="submit"] {
            align-items: inherit;
            background: transparent;
            border: none;
            display: inherit;
            padding: 0;
        }

        .icon {
            // background: white;
            object-fit: contain;
            margin: 0 0 10px 0;
            width: 100px;

            @include md {}

            @include xl {
                width: 140px;
                margin: 0 20px 0 0;
            }

            @include xxl {}
        }

        .field-teks {
            @include flex-column;

            .judul {
                color: black;
                text-align: center;

                font: {
                    size: 16px;
                    weight: 400;
                }

                @include md {
                    font-size: 18px;
                }

                @include xl {
                    text-align: left;
                }

                @include xxl {}
            }

            .deskripsi {
                @include font1;
                color: black;
                font-size: 12px;
                margin: 0;
                text-align: justify;

                @include md {
                    font-size: 14px;
                }

                @include xl {
                    font-size: 16px;
                }

                @include xxl {
                    font-size: 16px;
                }
            }
        }
    }

    &.kecil {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        @include md {}

        @include xl {}

        @include xxl {}

        .item {
            width: 48%;

            @include md {
                width: 31.5%;
            }

            @include xl {}

            @include xxl {
                width: 24%;
            }

            .icon {
                width: 50px;

                @include md {}

                @include xl {
                    width: 70px;
                    margin: 0 20px 0 0;
                }

                @include xxl {}
            }

            .field-teks {
                .judul {
                    margin: 0;
                }
            }
        }
    }
}
