.afu-footer {
    @include flex-row;
    @include font1;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 1em 5.555555555555556%;

    @include md {
        font-size: 13px;
        padding: 1em 4.320987654320988%;
    }

    @include xl {
        font-size: 14px;
        padding: 1em 5.859375%;
    }

    @include xxl {
        padding: 1em 5.208333333333333%;
    }
}