.navbar {
    @include flex-row;
    box-sizing: border-box;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    height: 8vh;
    width: 100vw;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    padding: 2.375vh 5.866666666666667%;
    transition: $transition;
    background-color: white;
    box-shadow: 0 1px 9px -3px rgba(0, 0, 0, 0.2);

    @include xl {
        height: 10vh;
        // padding: 0 4em;
        background-color: white;
        //  background-color: rgba(255, 255, 255, 0);
    }

    //  overflow: hidden;
    &.animate {
        background-color: white;
    }

    .field-kiri {
        width: 30%;

        @include md {}

        @include xl {}

        @include xxl {}

        .logo {
            @include flex-row;
            align-items: center;
            box-sizing: border-box;
            color: black;
            letter-spacing: 0.3125rem;
            font-size: 1.25rem;
            text-decoration: none;

            &:hover,
            &:focus {
                .nama {
                    color: color(dua);
                }
            }

            .icon {
                display: none;

                @include xl {
                    display: block;
                    width: 10%;
                }
            }

            .nama {
                @include font1;
                color: color(satu);
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 0;
                margin: 0;
                transition: $transition;

                &.pc {
                    display: none;

                    @include xl {
                        display: block;
                        margin-left: 0.8em;
                    }
                }

                &.mobile {
                    @include xl {
                        display: none;
                    }
                }
            }
        }
    }

    .field-kanan {
        @include flex-row;
        justify-content: flex-end;
        width: auto;

        @include xl {}

        .nav-links {
            @include flex-column;
            align-items: center;
            justify-content: flex-start;
            box-sizing: border-box;
            background-color: white;
            clip-path: circle(1% at 100% 0%);
            position: absolute;
            top: 0;
            left: 0;
            //  height: 100vh;
            width: 100vw;
            margin: 0;
            padding: 50px;
            flex-direction: column;
            transition: all 1s ease-out;
            list-style: none;
            pointer-events: none;
            z-index: 2;

            @include xl {
                @include flex-row;
                justify-content: flex-end;
                box-sizing: border-box;
                padding: 0;
                background-color: rgba(255, 255, 255, 0);
                pointer-events: all;
                flex-direction: row;
                position: static;
                clip-path: circle(1500px at 90% -10%);
                width: 100%;
                height: 100%;
                justify-self: flex-end;
            }

            &.nav-active {
                clip-path: circle(200% at 100% 0%);
                pointer-events: all;
            }

            li {
                opacity: 0;
                margin: 0 0 29px 0;

                @include xl {
                    opacity: 1;
                    margin: 0 0 0 20px;
                    margin-bottom: 0;
                }
                // &:hover,
                // &:focus {
                //     >a,
                //     >button {
                //         color: color(dua);
                //     }
                // }

                a,
                button {
                    @include font1;
                    border: none;
                    background-color: white;
                    cursor: pointer;
                    color: color(satu);
                    text-decoration: none;
                    letter-spacing: 0.1rem;
                    font-size: 12px;
                    font-weight: 400;
                    transition: $transition-fast;

                    &:hover,
                    &:focus {
                            color: color(dua);
                    }

                    @include md {
                        font-size: 14px;
                    }

                    @include xl {
                        font-size: 16px;
                        font-weight: 600;
                    }

                    @include xxl {
                        font-size: 20px;
                    }
                }



                // .button {
                //   @include font1;
                //   font-weight: 300;
                //   font-size: 10px;
                //   padding: 0.7em 18px;
                //   cursor: pointer;

                //   @include xl {
                //     font-size: 12px;
                //     border: 2px #707070 solid;
                //     border-radius: 2em;
                //     margin-right: 3em;
                //   }
                // }
            }
        }

        .burger {
            display: block;
            cursor: pointer;
            z-index: 3;
            margin-right: 18px;

            @include xl {
                display: none;
            }

            &.toggle-burger {
                &2 {
                    .line1 {
                        animation: line1animation2 1s forwards cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    }

                    .line2 {
                        animation: line2animation2 1s forwards cubic-bezier(0.6, 0.04, 0.98, 0.335);
                    }

                    .line3 {
                        animation: line3animation2 1s forwards cubic-bezier(0.77, 0, 0.175, 1);
                    }
                }

                .line1 {
                    animation: line1animation 1s forwards cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }

                .line2 {
                    animation: line2animation 1s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
                }

                .line3 {
                    animation: line3animation 1s forwards cubic-bezier(0.77, 0, 0.175, 1);
                }
            }

            div {
                width: 20px;
                height: 2px;
                background-color: color(satu);
                margin: 0.3125em;
                transition: 0.3s ease;
            }
        }
    }
}
