// berita Carousel
.pembungkus-carousel-berita {
    background-color: rgba(248, 249, 250, 1);
    padding: 0 0 32px 0;
}

// berita Carousel
.swiper-container.berita-carousel2 {
    // atas
    width: 100%;
    position: relative;
    height: auto;
    // background-color: rgba(248, 249, 250, 1);


    // --swiper-navigation-color: #fff;
    // --swiper-pagination-color: #fff
    @include md {
        box-sizing: border-box;
        max-height: 400px;
        padding: 0 0 50px 0;
    }

    @include xl {
        margin-bottom: 23px;
        height: 618px;
    }

    @include xxl {}


    .swiper-slide {
        @include flex-column;
        transition: $transition-slow;
        text-decoration: none;

        @include md {
            flex-direction: row-reverse;

        }

        @include xl {}

        @include xxl {}

        .field-gambar {
            @include flex-row;
            align-items: center;
            justify-content: center;

            // margin: 0 0 20px 0;
            @include md {
                align-items: flex-start;
            }

            @include xl {}

            @include xxl {}

            img {
                border-radius: 10px 50px 0 0;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;

                @include md {
                    border-radius: 10px 50px 50px 50px;
                    height: auto;
                }

                @include xl {}

                @include xxl {}
            }
        }

        .field-teks {
            background-color: white;
            box-sizing: border-box;
            font-size: 18px;
            padding: 20px 8.928571428571429%;

            @include md {
                background-color: transparent;
                padding: 20px 5% 0 0;
            }

            @include xl {}

            @include xxl {}

            .tag,
            .judul,
            .deskripsi {
                color: color(black);
            }

            .tag {
                box-sizing: border-box;
                border-radius: 5px;
                background-color: rgb(149, 255, 149);
                font-size: 0.75rem;
                padding: 0.1em 0.8em;
                width: fit-content;

                @include md {
                    font-size: 0.875rem;
                }

                @include xl {
                    font-size: 16px;
                }

                @include xxl {
                    font-size: 18px;
                }
            }

            .judul {
                font-size: 1.5rem;

                @include md {
                    font-size: 2rem;
                }

                @include xl {
                    font-size: 2.625rem;
                }

                @include xxl {
                    font-size: 2.75rem;
                }
            }

            .deskripsi {
                @include md {
                    font-size: 1.25rem;
                }

                @include xl {
                    font-size: 1.375rem;
                }

                @include xxl {
                    font-size: 1.5625rem;
                }
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: color(black);
        filter: drop-shadow(2px 2px 4px color(white-dark));
    }
}

.swiper-container.berita-carousel {
    // bawah
    background-color: rgba(248, 249, 250, 1);
    display: none;
    position: relative;
    height: auto;
    margin-left: 0;
    width: 100%;

    @include md {
        display: block;
    }

    @include xl {}

    @include xxl {}

    .swiper-slide {
        opacity: 0.4;


        &-thumb-active {
            opacity: 1;
        }

        @include md {
            @include flex-row;
            background-color: white;
            border-radius: 10px;
            color: black;
            transition: $transition-slow;
            // width: 25%;
            height: 100%;
            padding: 5px;
            text-decoration: none;
        }

        @include xl {}

        @include xxl {}

        img {
            @include md {
                border-radius: 10px;
                display: block;
                margin: 0 10px 0 0;
                width: 30%;
                // height: 100%;
                object-fit: cover;
            }

            @include xl {}

            @include xxl {}
        }

        .field-teks {
            @include flex-column;
            padding: 10px 0;

            .judul {
                font-size: 14px;
                line-height: 1em;
            }

            .field-tag {
                @include flex-row;
                justify-content: space-between;

                .author {
                    font-size: 11px;
                }

                .date {
                    font-size: 11px;
                }
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: color(black);
        filter: drop-shadow(2px 2px 4px color(white-dark));
    }
}
