// information Carousel
.swiper.information-carousel {
    // atas
    width: 100%;
    position: relative;
    height: auto;
    // background-color: rgba(248, 249, 250, 1);


    // --swiper-navigation-color: #fff;
    // --swiper-pagination-color: #fff
    @include md {
        box-sizing: border-box;
        max-height: 400px;
        padding: 0 0 50px 0;
    }

    @include xl {
        margin-bottom: 23px;
        height: 618px;
    }

    @include xxl {}


    .swiper-slide {
        @include flex-column;
        align-items: center;
        background: white;
        box-shadow: 1px 1px 5px color(white-darkest);
        border-radius: 15px;
        color: color(text-dark);
        margin: 0 0 20px 0;
        padding: 30px 4.807692307692308%;
        text-decoration: none;
        transition: $transition;

        @include md {
            border-radius: 20px;
            width: 45%;
            padding: 30px 15px;
            margin: 0 0 2.469135802469136vw 0;
        }

        @include xl {
            border-radius: 25px;
            width: 23.5%;
        }

        &:focus-within,
        &:hover {
            background: color(dua);

            &:nth-child(2n) {
                background: color(tiga);
            }

            .icon {
                filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
            }

            .judul,
            .deskripsi {
                color: color(text-light);
            }
        }

        .icon {
            margin-bottom: 20px;
            transition: $transition;
            width: 25%;
        }

        .judul {
            color: color(empat);
            font-size: 20px;
            line-height: 1.2em;
            margin-bottom: 0.25em;
            transition: $transition;

            @include md {
                font-size: 18px;
            }

            @include xl {
                font-size: 18px;
                margin-bottom: 1em;
            }

            @include xxl {
                font-size: 22px;
            }
        }

        .deskripsi {
            font-size: 16px;
            margin: 0;
            transition: $transition;
            filter: drop-shadow(0 0 0 transparent);

            @include md {}

            @include xl {
                font-size: 14px;
            }

            @include xxl {
                font-size: 16px;
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: color(black);
        filter: drop-shadow(2px 2px 4px color(white-dark));
    }
}