.about-section {
    @include flex-column;
    align-items: center;
    border-bottom: 1px solid rgb(238, 238, 238);
    box-sizing: border-box;
    padding: 0 0 50px 0;
    width: 100%;


    .top-line,
    .bottom-line {
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.55));
    }

    .top-line {
        background-color: color(tiga);
        margin-bottom: 50px;
        height: 2px;
        width: 50%;
    }

    .bottom-line {
        background-color: color(tiga);
        height: 2px;
        margin-top: 50px;
        width: 25%;
    }


    .row {
        @include flex-row;
        justify-content: space-between;
        width: 100%;

        .judul {
            align-self: flex-start;
            border-bottom: 1px solid rgb(238, 238, 238);
            padding-bottom: 12px;
            text-align: left;
            width: 100%
        }

        .kiri,
        .kanan {
            @include flex-column;
            width: 48%;
        }
    }
}

.tawk-max-container {
    display: none;
}