.header-section {
    @include font1;
    @include flex-column;
    align-items: center;
    background: linear-gradient(180deg,
            color(satu) 15%,
            color(satu-lighter) 100%);
    color: color(text-light);
    padding: 100px 6.666666666666667% 20px 6.666666666666667%;

    @include md {
        padding: 100px 6.666666666666667% 20px 6.666666666666667%;
    }

    @include xl {
        padding: 120px 10% 20px 10%;
    }

    @include xxl {
        padding: 150px 15% 100px 15%;
    }

    .judul {
        font-size: 24px;
        margin: 0 0 0.125em 0;
        text-align: center;

        @include md {
            font-size: 26px;
        }

        @include xl {
            font-size: 28px;
            margin: 0 0 0.25em 0;
        }

        @include xxl {
            font-size: 30px;
        }
    }

    .garis {
        background: color(text-light);
        height: 3px;
        width: 150px;
        margin: 0 0 20px 0;

        @include md {
            height: 5px;
            width: 200px;
            margin: 0 0 25px 0;
        }

        @include xl {}

        @include xxl {}
    }

    .deskripsi {
        font-size: 16px;
        filter: drop-shadow(0 0 1px color(empat-darkest));
        text-align: center;
        margin: 0 0 1.875em 0;

        @include md {
            font-size: 18px;
        }

        @include xl {
            font-size: 20px;
        }

        @include xxl {
            font-size: 22px;
        }
    }
}